a {
    color: #C30
}

body {
font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}


div,p {
    color: #555;
}

.x {
    background-color: #FFFFCC;
    color:#0000BB;
    
    
}
.parrafo {
    color: #369;
}


.especial {
    color: #FFFF00;
  background: #000000;
}

span {
    font-weight: bold;
    font-style: italic;
}
