h1 {
text-decoration-line: underline;
text-decoration-color: blue;
}

h2 {
    border: 1px solid black;
}

ul {
    border-color: red;
    border-style: dotted;
}

#final {
    border: 2px dashed green;
}