body{
    background-color: #CFC;
}

h1{
    color: #F00;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

h2{
    color:#A00;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;}

    p {
    color: #00F;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

li {
    color:#00F;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

#libro {
    color: #060;;
}

#texto {
    background-color: black;
    color: white;

}

